  body {
      font-family: Faculty Glyphic;
      text-align: center;
      background-color: #fdfdfd;
    }
    h1 {
      background-color: #00cfff;
      padding: 15px;
      color: black;
    }
    .subjects {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
    }
    .subject {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      width: 150px;
      background-color: white;
    }
    .subject img {
      width: 100%;
      border-radius: 10px;
    }
    input[type="number"] {
      margin-top: 10px;
      width: 60px;
      padding: 5px;
    }
    .result {
      margin-top: 10px;
      font-weight: bold;
    }
    button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #00cfff;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
    footer {
      margin-top: 40px;
     }